.header {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 70.24%;
    bottom:0%;
    
    
  }
 
  .main-image {
    position:absolute;
    width: 75px;
    height: 64px;
    left:188px;
    top:10px;
    background-color: transparent;
    
   
  }

  .button {
    top: 10px;
    width: 336%;
    background: rgb(255, 115, 0); /* Green */
    display: inline-block;
    text-align: right;
  }
 
 