.header {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 70.24%;
    bottom:0%;
    
    
  }

  .button {
    width: 1440px;
    left: px;
    height: 84px;

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
 

  
  
  .main-image {
    position:absolute;
    width: 75px;
    height: 64px;
    left:188px;
    top:10px;
    background-color: transparent;
    
   
  }
 